@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.blogs-card-container {
    border-radius: 8px;
}

.trending-blogs-main-heading {
    color: #183b56;
    font-weight: bold;
}

.blog-name {
    color: #959ead;
}

.blog-title {
    color: #183b56;
    font-size: 24px;
    font-weight: bold;
}

.blog-description {
    color: #959ead;
}

.ancor-tag-style {
    color: #ff9f00;
    font-weight: bold;
}

.arrow-styles {
    color: #ff9f00;
}